<%= cache post do %>
  <div class="forum-post">
    <div class="row">
      <div class="col">
        <div class="d-flex flex-row">
          <h4>
            <%= link_to post_path(post), class: "h5 text-dark" do %>
              <%= post.title %>
            <% end %>
          </h4>
          <div class="ml-auto">
          <%= icon "comment" %>
          <span class="count"><%= post.comments_count %></span>
          </div>
          
        </div>
        

        <div class="post-details">
          <% post.categories.each do |category| %>
          <strong><%= category_link(category) %></strong>
          <% end %>
          <div class="p-1">
            <a class="comment-user"><%= post.user.name %></a>
            <%= "#{time_ago_in_words(post.created_at)} 전 등록" %>
          </div>
        </div>

        <p class="text-muted"><%= truncate(post.comments.first.body, length: 200) %></p>
      </div>

    </div>
  </div>
<% end %>
